<div class="alert alert-danger" role="alert" ng-class="(kanban.errorMsg) ? '' : 'hidden'">{{ kanban.errorMsg }}</div>

<div>
  <h2>Kanban board</h2>
  {{ kanban.issues }}
  <ul role="list" class="list-group">
    <li role="listitem" class="well list-group-item" ng-repeat="issue in kanban.issues">
        <h3>{{ issue.Title }}</h3>
        <p class="text-muted">{{ issue.AssignedTo }}</p>
        <p>{{ issue.Description }}</p>
    </li>
  </ul>
</div>

<div>
    <a ng-click="kanban.showAddIssueForm()"><i class="glyphicon glyphicon-plus"></i> Add new issue</a>
</div>

<div class="alert alert-info" role="alert" ng-class="(kanban.informMsg) ? '' : 'hidden'">{{ kanban.informMsg }}</div>